:root {
  --hover: rgba(87, 93, 184, 0.656);
  --hover2: rgb(218, 184, 240);
  --section1: rgba(230, 224, 255, 0.274);
  --section2: rgb(253, 253, 253);
  --text1: rgb(52, 52, 52);
  --text2: rgb(50, 50, 50);
  --text3: rgb(74, 74, 74);
  --text4: rgb(68, 57, 83);
  --textSize1: 2.5em;
  --textSize2: 1.8em;
  --textSize3: 1.2em;
  --textSize4: 0.8em;
  --textSize5: 1.5em;
  --logo: 1em;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.083);
  --backgr-button: rgb(192, 161, 212);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  color: var(--text2);
}

a {
  text-decoration: none;
  transition: transform 0.3s ease-in;
  transform: scale(1);
  cursor: pointer;
  display: inline-block;
  color: var(--text4);
}

nav a:hover {
  transform: scale(1.1);
  color: var(--hover);
}

.wrapper {
  width: 100%;
}

/**nav**/

li a {
  color: var(--text1);
}

ul li {
  list-style-type: none;
}

nav {
  background-color: rgb(255, 255, 255);
  padding: 20px 10px;
  height: 8vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
  font-family: "Roboto";
  font-weight: 300;
  font-size: var(--logo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#menu-hamburguer {
  display: none;
}

#logo {
  padding-left: 50px;
  font-weight: 400;
  font-size: var(--logo);
}

nav ul {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

section {
  padding: 40px 50px 40px 50px;
}

/**inicio**/

#inicio {
  background-color: var(--section1);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 85%;
}

.wrapper-text {
  width: 60%;
}

.wrapper-text p {
  font-size: 1.2em;
  color: var(--text3);
  line-height: 1.3;
  width: 85%;
}

.title-inicio {
  font-family: "Poppins";
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.wrapper-img {
  width: 40%;
}

#inicio img {
  width: 100%;
}

#icons-wrapper {
  margin-top: 50px;
}

#icons-wrapper img {
  width: 50px;
  margin-right: 15px;
  transition: transform ease-in 0.1s;
}

#icons-wrapper img:hover {
  transform: translateY(-8px);
}

/**sobre**/

#sobre {
  display: flex;
  background-color: var(--section2);
  justify-content: center;
  align-items: center;
  padding: 50px 90px 50px 90px;
  height: 90vh;
}

.wrapper-img-sobre {
  width: 35%;
}

.wrapper-img-sobre img {
  width: 100%;
}

.title-section {
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 20px;
  font-size: var(--textSize2);
}

/**formacao**/

#formacao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--section1);
  padding: 50px 90px 50px 90px;
  height: 90vh;
}

.wrapper-img-formacao {
  width: 25%;
}

.wrapper-img-formacao img {
  width: 100%;
}

#list-formacao {
  font-size: var(--textSize3);
}

#list-formacao li {
  list-style-type: disc;
  margin-bottom: 16px;
}

/**portfolio**/

#portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 80px 90px 80px 90px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  width: 80%;
  margin: 30px 0 30px 0;
  gap: 50px;
}

.card-img {
  width: 50%;
}

.card-img img {
  width: 100%;
  border-radius: 10px;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
}

.title-project {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
}

.text-project {
  text-align: center;
}

.card-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-link span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-link img {
  width: 22px;
  margin-left: 6px;
}

.card-link a:hover {
  color: var(--hover);
}

/**contato**/
#contato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 80px 90px 80px 90px;
  background-color: var(--section1);
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 20px;
  padding: 8px 0 8px 6px;
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  transition: border-color 0.1s ease;
}

form input:focus {
  border-color: black;
}

form textarea:focus {
  border-color: black;
}

form button {
  border: none;
  padding: 6px;
  background-color: var(--backgr-button);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: var(--hover2);
}

/**footer**/

footer {
  background-color: var(--section2);
  padding: 30px 0 30px 0;
}

#footer-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#footer-icons-wrapper img {
  width: 26px;
}

#footer-icons-wrapper img {
  transition: tranform 1.2s ease-in-out;
}

#footer-icons-wrapper img:hover {
  transform: scale(1.2);
}

#title-section-portfolio {
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 20px;
  font-size: var(--textSize2);
}

/**menu mobile**/
@media (max-width: 880px) {
  #menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgb(233, 228, 255);
    height: calc(100vh - 50px);
    z-index: 1000;
  }

  #nav.active #menu {
    display: block;
    text-align: center;
  }

  #menu li a {
    padding: 40px 0 40px 0;
  }

  #menu-hamburguer {
    display: block;
    cursor: pointer;
    width: 24px;
    margin-right: 80px;
    border: none;
    background-color: white;
  }
  #menu-hamburguer img {
    width: 24px;
  }

  #menu.show {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
  }

  #close-icon {
    display: none;
  }
}

@media (max-width: 700px) {
  #logo {
    padding-left: 20px;
  }

  #sobre,
  #contato {
    padding: 100px 10px 150px 10px;
    height: 100vh;
    width: 100%;
  }

  #formacao {
    padding: 40px 10px 40px 10px;
    height: 100vh;
    width: 100%;
  }

  #inicio {
    height: 100vh;
    padding: 60px 10px 60px 10px;
  }

  .wrapper-text {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: var(--textSize4);
  }

  #icons-wrapper {
    justify-content: center;
    align-items: center;
  }

  #icons-wrapper img {
    width: 35px;
  }

  #inicio .wrapper-img img {
    display: none;
  }

  .title-section {
    font-size: var(--textSize5);
    padding-top: 50px;
  }

  .main-content {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  #sobre {
    padding: 10px 10px 10px 10px;
  }

  .wrapper-img-sobre {
    margin-top: 40px;
    width: 60%;
  }

  /**portfolio**/

  #portfolio {
    width: 100%;
    padding: 50px 50px 10px 50px;
  }

  .card {
    flex-direction: column;
    width: 100%;
  }

  .card-img {
    width: 100%;
  }

  .card-description {
    width: 100%;
    font-size: var(--textSize4);
  }

  #contato {
    width: 100%;
    height: 100vh;
  }
}

@media (max-width: 500px) {
  #menu-hamburguer {
    margin-right: 30px;
  }

  #inicio {
    height: 100vh;
    width: 100%;
    padding: 60px 10px 60px 10px;
  }

  .wrapper-text {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .main-content {
  }
}

@media (max-width: 581px) {
}
